<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Manko y el Mundo de los Espíritus</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
        
        <section class="hero">
            <div class="background-image" style="background-image: url(https://res.cloudinary.com/davidcalderon/image/upload/v1542748798/index2-manko-y-el-mundo-de-los-espiritus_p7rdly.jpg);"></div>
            <div class="hero-content-area">
                <!--<h1>Rally</h1>-->
                <h2>Manko y el Mundo de los Espíritus</h2>
                <h3>Conoce la puerta al Mundo de los Espíritus</h3>
                <p>¡Gracias! Nos pondremos en contacto<p>
            </div>
        </section>

       
    </body>
</html>