<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Manko y el Mundo de los Espíritus</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="stylesheets/landing.css">
        
        <!-- Google Tag Manager -->
<!--<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':-->
<!--new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],-->
<!--j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=-->
<!--'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);-->
<!--})(window,document,'script','dataLayer','GTM-WS6TLCS');</script>-->
<!-- End Google Tag Manager -->
        
        <!-- Facebook Pixel Code -->
<!--<script>-->
<!--  !function(f,b,e,v,n,t,s)-->
<!--  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?-->
<!--  n.callMethod.apply(n,arguments):n.queue.push(arguments)};-->
<!--  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';-->
<!--  n.queue=[];t=b.createElement(e);t.async=!0;-->
<!--  t.src=v;s=b.getElementsByTagName(e)[0];-->
<!--  s.parentNode.insertBefore(t,s)}(window, document,'script',-->
<!--  'https://connect.facebook.net/en_US/fbevents.js');-->
<!--  fbq('init', '292462944425266');-->
<!--  fbq('track', 'PageView');-->
<!--</script>-->
<!--<noscript><img height="1" width="1" style="display:none"-->
<!--  src="https://www.facebook.com/tr?id=292462944425266&ev=PageView&noscript=1"-->
<!--/></noscript>-->
<!-- End Facebook Pixel Code -->

    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
<!--<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WS6TLCS"-->
<!--height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>-->
<!-- End Google Tag Manager (noscript) -->

        <header>
            <h2><a href="#">El Mundo de los Espíritus</a></h2>
            <nav>
                <li><a href="/entra-al-mundo-de-los-espiritus">Ya tengo el libro</a></li>
                <li><a href="#comprar">Comprar</a></li>
                <li><a href="#contact">Contacto</a></li>
            </nav>
        </header>

         <section class="hero">
            <div class="background-image" style="background-image: url(https://res.cloudinary.com/davidcalderon/image/upload/v1542748798/index2-manko-y-el-mundo-de-los-espiritus_p7rdly.jpg);"></div>
            <div class="hero-content-area">
                <!--<h1>Rally</h1>-->
                <h2>Manko y el Mundo de los Espíritus</h2>
                <h3>Conoce la puerta al Mundo de los Espíritus</h3>
                <a href="#contact" class="btn">Comprar Libro</a>
            </div>
        </section>

        <section class="comonace">
            <a name="dedonde"></a>
            <h3 class="title"> ¿Cómo nace la historia de Manko? <a name=viajes></a> </h3>
            <hr>
                <p><strong>El 4 de mayo del 2017</strong> tomé un vuelo hacia Brasil, con mínimos ahorros y con una sola misión en la mente... Encontrarme.</p>
                <p><strong>El 2 de Julio</strong>, a dos meses de salir de casa y llegar a Brasil, estaba voluntariando en una huerta en San Marcos Sierra, al Norte de Córdoba en Argentina, aprendiendo lo más que podía sobre permacultura, durmiendo en un domo geodésico y pasando mis días meditando frente al río, añorando...</p>
                <p><strong>El 2 de noviembre del 2017</strong>, a 4 días de mi cumpleaños, el cual lo pasaría sin ella en Cusco; estaba cerca de Arequipa en el Cañón del Colca haciendo una caminata de 3 días para conocer el Oasis y sentir los efectos del Cactus San Pedro.</p>
                <p><strong>El 19 de Julio</strong> estaba en Tafí del Valle, acampando a menos 8 grados sin un peso en mi bolsillo.</p>
                <p><strong>El 20 de Septiembre</strong> estaba saliendo de San Pedro de Atacama después de trabajar 2 meses vendiendo tours, con los bolsillos llenos y con ganas de aventura. El 2 de diciembre estaba devastado acampando en la playa en Máncora, Perú, sin un centavo, deprimido y sin ganas de rearmarme.</p>
                <p><strong>El 6 de enero del 2018</strong> estaba hablando por primera vez después de 10 días de meditación y silencio, con una sensación de paz que nunca había experimentado, había encontrado cómo limpiar mi mente.</p>
                <p><strong>El 31 de enero del 2018</strong> estaba en Tarapo, Perú, cerca de la selva del amazonas rentando un pequeño cuartito con una mesa que me llegaba hasta las rodillas, tomando agua de la canilla, comiendo diario lo mismo desde hace un mes, haciendo ejercicio, meditando. Había escrito un hermoso compendio de memorias que después se convertiría en la historia de Manko y el Mundo de los Espíritus.</p>
                <p><strong>El 5 de diciembre del 2018</strong>, oficialmente se publicó:</p>
            
            
            
            <img src="https://res.cloudinary.com/davidcalderon/image/upload/v1544477108/Portada-Manko-Comprimida_skr84o.jpg" alt="Portada Libro Manko Y Mundo de los Espíritus" height="694" width="472.5">
        </section>
        
        <section class="desclibro">
           
            <h3 class="title"> Manko y el Mundo de los Espíritus </h3>
            <hr/>
            
            <p>Manko es un joven de 21 años que vive en Cusco, Perú. Después de la muerte de su madre, Manko sufre una gran pérdida de sentido. Su trabajo no lo hace feliz, no encuentra sentido a la vida e incluso las interacciones con sus amistades y familia parecen grises e intrascendentes.</p>
            <p>Hasta que un día, en el éxtasis del momento, Manko decide viajar a Brasil para buscar el Cuarzo Dorado. Manko experimenta por primera vez un impulso de intuición, algo que él describe como un “llamado del interior”.</p>
            <p>Desde el momento que sale de Cusco, Manko se ve expuesto ante una realidad que nunca imaginó. Encuentra el Cuarzo y descubre la posible existencia del Mundo de los Espíritus, donde podría encontrar el espíritu de su madre. A pesar de que el ingresar a este mundo conducirá a Manko a una gran inestabilidad, él decide sumergirse por completo en lo que está por convertirse en una de las más grandes aventuras de su vida.</p>

            <ul class="grid">
                <li class="small" style="background-image: url(https://res.cloudinary.com/davidcalderon/image/upload/v1544478255/manko2.jpg);"></li>
                <li class="large" style="background-image: url(https://res.cloudinary.com/davidcalderon/image/upload/v1544478407/manko3.jpg);"></li>
            </ul>
        </section>
        
        
        <section class="packages">
            <a name="comprar"></a>
            <h3 class="title">¿Cómo comprar?</h3>
            <p>El libro se puede comprar en forma Digital o Física</p>
            <hr>

            <ul class="grid">
                <li>
                    <i class="far fa-file-alt fa-4x"></i>
                    <h4>Digital</h4>
                    <p>El libro se puede adquirir en Amazon en versión digital Ebook por <strong>$150 pesos</strong></p>
                    <a href="http://bit.ly/mankolibrodigital">Click para comprar</a>
                </li>
                <li>
                    <i class="fas fa-book fa-4x"></i>
                    <h4>Físico</h4>
                    <p>El libro impreso se puede comprar en Mercado Libre a <strong>$250 pesos</strong>, incluye envío gratis y va con dedicatoria</p>
                    <a href="http://bit.ly/mankolibrofisico">Click para comprar</a>
                </li>
                
            </ul>
        </section>

        <!--<section class="testimonials">-->
        <!--    <h3 class="title">Algunos de nuestros testimonios:</h3>-->
        <!--    <hr>-->
        <!--    <p class="quote">Descubrir a una persona maravillosa dentro de mi es la mejor satisfacción que me queda no solo un día, sino en cada paso, cada minuto, cada respiro que doy, me recuerda de donde vengo y para donde voy.</p>-->
        <!--    <p class="author">— Gabriela Caudillo</p>-->
        <!--    <p class="quote">Algunas personas usan su cuerpo como vehículo para ir a las juntas de trabajo. Es importante entrenar tu cerebro pero también es importante mantener un balance de salud corporal y espiritualidad (espiritualidad es conexión interior, no se refiere a religión). Gracias por la experiencia.</p>-->
        <!--    <p class="author">— Juan Castillo</p>-->
        <!--    <p class="quote">Al principio tenía mucho miedo por que no me gustan los espacios cerrados y pensé que el calor iba a ser demasiado fuerte para mi. Al final lo difruté muchísimo y ahora me siento con más fuerza y lista para nuevos retos. Chary fue un amor con nosotros al guiar el Temazcal.</p>-->
        <!--    <p class="author">— Gio Garcia</p>-->

        <!--</section>-->

        <section class="contact">
            <a name="contact"></a>
            <h3 class="title">Ponte en contacto conmigo</h3>
            
            <form id="enviarform" action="/client_info" method="post">
                <input type="text" placeholder="Nombre" name="name">
                <input type="email" id="form-correo" placeholder="Correo" name="email">
                <input type="tel" placeholder="Teléfono" name="phone">
                <a class="btn" href="javascript:{}" onclick="document.getElementById('enviarform').submit();">Enviar</a>
            </form>
        </section>

        <footer>
            <p>Encuéntranos en Facebook o mándanos un correo a hola@manko.app</p><p>Para asuntos urgentes mándanos un WhatsApp o llámanos al +5215538281174</p>
            <ul>
                <li><a href="https://www.facebook.com/mundodelosespiritus/"><i class="fab fa-facebook-square fa-2x"></i></a></li>
                <!--<li><a href="https://www.youtube.com/channel/UCpd4KPYmVixK25d-Ab21vXw"><i class="fab fa-youtube-square fa-2x"></i></a></li>-->
            </ul>
        </footer>

    </body>
</html>